ul li {
    position: relative;
}

ul ul {
    position: relative;
    display: none;
}

ul > li:hover ul {
    display: block;
}

#c #a{
    position: relative;
    display: none;
}

#d:hover #a{
    display: block;
}
